* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Flex', sans-serif;
}

a {
    text-decoration: none;
}

.header, .section-1, .section-2, .section-3, .section-4, .footer {
    padding-left: 300px;
    padding-right: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 75px;
}

.header-title {
    font-size: 24px;
    color: #f9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.link {
    color: #E5E7EB;
    font-size: 18px;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 75px;
}

.section-1-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.section-1-title {
    font-size: 48px;
    color: #f9FAF8;
    font-weight: 900;
}

.section-1-text {
    font-size: 18px;
    color: #E5E7EB;
}

.section-1-button {
    background-color: #3882F6;
    color: #f9FAF8;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    width: 150px;
    padding: 5px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
    padding-bottom: 75px;
}

.section-2-title {
    font-size: 36pt;
    font-weight: 900;
    columns: #1F2937;
}

.section-2-cards {
    display: flex;
    gap: 100px;
}

.card {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-text {
    text-align: center;
    color: #1F2937;
}

.section-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-3-quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.section-3-attribution {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}

.section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-4-banner {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3882F6;
    align-items: center;
    border-radius: 5px;
}

.section-4-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-4-title {
    font-weight: 900;
    font-size: 24px;
    color: #f9FAF8;
}

.section-4-text {
    color: #E5E7EB;
}

.section-4-button {
    background-color: #3882F6;
    border: solid 2px #f9FAF8;
    border-radius: 5px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f9FAF8;
    font-weight: 900;
}

.header, .section-1, .footer {
    background-color: #1F2937;
}

.section-2, .section-4 {
    background-color: white;
}

.section-3 {
    background-color: #E5E7EB;
}

.section-1-img {
    width: 500px;
    height: auto;
}

.card-img {
    width: 100px;
    height: auto;
}