.header, .section-1, .footer {
    background-color: #1F2937;
}

.section-2, .section-4 {
    background-color: white;
}

.section-3 {
    background-color: #E5E7EB;
}

.section-1-img {
    width: 500px;
    height: auto;
}

.card-img {
    width: 100px;
    height: auto;
}